In [28]:
# Module used to connect Python with MongoDb
import pymongo
# Dependencies
import pandas as pd
import os
import json
from flask import Flask, render_template
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [29]:
# Store filepath in a variable
data_file = os.path.join("data.xlsx")

In [30]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
data_file_df = pd.read_excel(data_file, encoding="ISO-8859-1")

In [31]:
data_file_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [32]:
records = json.loads(data_file_df.to_json(orient='records'))

In [33]:
records[0]

{'Age': 41,
 'Attrition': 'Yes',
 'BusinessTravel': 'Travel_Rarely',
 'DailyRate': 1102,
 'Department': 'Sales',
 'DistanceFromHome': 1,
 'Education': 2,
 'EducationField': 'Life Sciences',
 'EmployeeCount': 1,
 'EmployeeNumber': 1,
 'EnvironmentSatisfaction': 2,
 'Gender': 'Female',
 'HourlyRate': 94,
 'JobInvolvement': 3,
 'JobLevel': 2,
 'JobRole': 'Sales Executive',
 'JobSatisfaction': 4,
 'MaritalStatus': 'Single',
 'MonthlyIncome': 5993,
 'MonthlyRate': 19479,
 'NumCompaniesWorked': 8,
 'Over18': 'Y',
 'OverTime': 'Yes',
 'PercentSalaryHike': 11,
 'PerformanceRating': 3,
 'RelationshipSatisfaction': 1,
 'StandardHours': 80,
 'StockOptionLevel': 0,
 'TotalWorkingYears': 8,
 'TrainingTimesLastYear': 0,
 'WorkLifeBalance': 1,
 'YearsAtCompany': 6,
 'YearsInCurrentRole': 4,
 'YearsSinceLastPromotion': 0,
 'YearsWithCurrManager': 5}

In [34]:
# Define the 'talentSourceDB' database in Mongo
db = client.talentSourceDB

In [35]:
# Drops collection if available to remove duplicates
db.talentsTable.drop()

In [36]:
#Inset data to TalentsTable
db.talentsTable.insert_many(records)

In [37]:
db.talentsTable.find()

In [38]:
talent_data = db.talentsTable.find()

In [41]:
# Create an instance of our Flask app.
app = Flask(__name__)

In [42]:
# Set route
@app.route('/')
def index():
    # Store the entire talent_datam collection in a list
    talentslist = list(talent_data)
   
    # Return the template with the talent_data list passed in
    return render_template('index.html', talentslist=talentslist)


if __name__ == "__main__":
    app.run(debug=True)

 * Restarting with stat

SystemExit: 1

C:\Users\sinancengiz\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2918: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)